@model ForumSystem.Web.ViewModels.Categories.PostsInCategoryViewModel



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">@Model.FixedTitle</h2>
        <hr />
        <p class="lead">@Model.Contnet</p>
        <p class="lead">@Model.UserUsername</p>
    </div>
</div>