@model ForumSystem.Web.ViewModels.Post.CurrnetPostViewModel



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">@Model.FixedTitle</h2>
        <hr />
        <p class="lead">@Model.FixedContent</p>
        <p class="lead">@Model.UserUserName</p>
    </div>
</div>