@model ForumSystem.Web.ViewModels.Home.IndexPageModel

<h2>
    Welcom To Online newspaper
    <br />
    <br />
    <br />
</h2>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var category in Model.Categoreis)
    {

        <div class="media col-md-4 ">
            <img src="@category.ImageUrl" width="150" alt="@category.Title">
            <div class="media-body">
                <a asp-controller="Category" asp-action="@category.Title">@category.Title</a>
            </div>
        </div>
        <br />
    }
</div>